@{
    ViewData["Title"] = "Home Page";
}



<section id="center" class="clearfix center_home">
    <div class="center_home_m clearfix">
        <div class="carousel slide article-slide" id="article-photo-carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">

                <div class="item active">
                    <img alt="abc" class="iw" src="/img/1.jpg"> 
                </div>
                <div class="item">
                    <img alt="abc" class="iw" src="img/2.jpg">
                </div>
                <div class="item">
                    <img alt="abc" class="iw" src="img/3.jpg">
                </div>
                <div class="item">
                    <img alt="abc" class="iw" src="img/4.jpg">
                </div>
                <div class="item">
                    <img alt="abc" class="iw" src="img/6.jpg">
                </div>
                <div class="item ">
                    <img alt="abc" class="iw" src="img/7.jpg">
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                    <img alt="" src="img/1.jpg">
                </li>
                <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                    <img alt="" src="img/2.jpg">
                </li>
                <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                    <img alt="" src="img/3.jpg">
                </li>
                <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                    <img alt="" src="img/4.jpg">
                </li>
                <li class="" data-slide-to="4" data-target="#article-photo-carousel">
                    <img alt="" src="img/6.jpg">
                </li>
                <li class="" data-slide-to="5" data-target="#article-photo-carousel"> 
                    <img alt="" src="img/7.jpg">
                </li>


            </ol>
        </div>
        <div class="center_home_mi clearfix">
            <h1>Honor Defence Système </h1>
            <p>HDS</p>
            <h5><a class="button" href="#">READ MORE <i class="fa fa-chevron-right"></i></a></h5>
            <h5><a class="button_1" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
        </div>
    </div>

</section>

<section id="review_home">
    <div class="container">
        <div class="row">
            <div class="review_home_1 clearfix">
                <div class="col-sm-6">
                    <div class="review_home_1r clearfix">
                        <img src="img/8.jpg" class="iw" alt="abc">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="review_home_1l clearfix">
                        <h2 class="mgt">Review Of The Season</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit nisi pulvinar, dapibus elit malesuada.</p>
                        <div class="review_home_1li clearfix">
                            <h5>STRATEGY <span class="pull-right">90%</span></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                </div>
                            </div>
                        </div>
                        <div class="review_home_1li clearfix">
                            <h5>DESIGN <span class="pull-right">70%</span></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                </div>
                            </div>
                        </div>
                        <div class="review_home_1li clearfix">
                            <h5>MARKETING <span class="pull-right">65%</span></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                </div>
                            </div>
                        </div>
                        <div class="review_home_1li clearfix">
                            <h5>DEVELOPMENT <span class="pull-right">95%</span></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="achieve">
    <div class="container">
        <div class="row">
            <div class="achieve_1 clearfix">
                <div class="col-sm-4">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/9.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <span class="col"><i class="fa fa-star-o"></i></span>
                            <h3 class="bold col">League Cup</h3>
                            <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
                            <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/10.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <span class="col"><i class="fa fa-trophy"></i></span>
                            <h3 class="bold col">Championship</h3>
                            <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
                            <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/11.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <span class="col"><i class="fa fa-clock-o"></i></span>
                            <h3 class="bold col">Associations</h3>
                            <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
                            <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="gallery_home">
    <div class="container">
        <div class="row">
            <div class="gallery_h text-center clearfix">
                <div class="col-sm-12">
                    <h2 class="mgt">Fresh Sport Gallery</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit nisi pulvinar.</p>
                </div>
            </div>

            <div class="achieve_1 clearfix">
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/12.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Being Free</h3>
                                <h4 class="col_1">PREPARATION</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/13.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Setting Tracks</h3>
                                <h4 class="col_1">TEAM WORK</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/14.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Ideal Transfers</h3>
                                <h4 class="col_1">TEAM WORK</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/15.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Role  Model</h3>
                                <h4 class="col_1">SUCCESS</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="achieve_1 clearfix">
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/16.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Being Free</h3>
                                <h4 class="col_1">PREPARATION</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/17.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Setting Tracks</h3>
                                <h4 class="col_1">TEAM WORK</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/18.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Ideal Transfers</h3>
                                <h4 class="col_1">TEAM WORK</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 space_all">
                    <a href="#">
                        <div class="achieve_1m clearfix">
                            <div class="achieve_1mi clearfix">
                                <img src="img/19.jpg" class="iw" alt="abc">
                            </div>
                            <div class="achieve_1mi1 text-center clearfix">
                                <h3 class="bold col">Role  Model</h3>
                                <h4 class="col_1">SUCCESS</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="players">
    <div class="container">
        <div class="row">
            <div class="gallery_h text-center clearfix">
                <div class="col-sm-12">
                    <h2 class="mgt">Our Key Players</h2>
                    <hr>
                </div>
            </div>
            <div class="players_1 clearfix">
                <div class="col-sm-3">
                    <div class="players_1i text-center clearfix">
                        <img src="img/20.jpg" class="iw" alt="abc">
                        <h3 class="bold">Praesent Libero</h3>
                        <h5>GOALKEEPER</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="players_1i text-center clearfix">
                        <img src="img/21.jpg" class="iw" alt="abc">
                        <h3 class="bold">Ante Dapibus</h3>
                        <h5>ATTACKER</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="players_1i text-center clearfix">
                        <img src="img/22.jpg" class="iw" alt="abc">
                        <h3 class="bold">Nulla Quis</h3>
                        <h5>DEFENDER</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="players_1i text-center clearfix">
                        <img src="img/23.jpg" class="iw" alt="abc">
                        <h3 class="bold">Sed Augue </h3>
                        <h5>MIDFIELDER</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="review_home_l">
    <div class="container">
        <div class="row">
            <div class="review_home_1 clearfix">
                <div class="col-sm-6">
                    <div class="review_home_1l clearfix">
                        <h2 class="mgt">Review Of The Season</h2>
                        <p>Nam fermentum ullamcorper luctus. Integer ultricies imperdiet rutrum. Donec vel ultrices purus. Vestibulum posuere eget magna eu blandit. Sed fermentum, est ut tincidunt luctus, urna tellus ullamcorper augue, quis tincidunt mi justo faucibus odio. Phasellus aliquam nulla neque, eu lacinia felis elementum et. Nulla facilisi. Duis auctor felis vel lorem vulputate varius. Integer ipsum nibh, imperdiet id tincidunt quis, malesuada eget lorem. Aliquam iaculis quam dignissim.</p>
                        <h5><a class="button" href="#">READ MORE <i class="fa fa-chevron-right"></i></a></h5>
                        <h5><a class="button_1" href="#">TAKE A  TOUR <i class="fa fa-chevron-right"></i></a></h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="review_home_1r clearfix">
                        <img src="img/24.jpg" class="iw" alt="abc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="strategy">
    <div class="container">
        <div class="row">
            <div class="strategy_1 clearfix">
                <div class="col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading clickable panel-collapsed">
                            <h3 class="panel-title">
                                <i class="fa fa-gamepad"></i> carrière
                            </h3>
                            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body clearfix">
                            <p>
                                <li> Instructeur international krav maga</li>
                                <li>  Instructeur free styl defense system</li>
                                <li> 4eme dan taekwondo ENTRAÎNEUR  FÉDÉRAL kick boxing</li>
                                <li> Formateur honor defense system</li>
                                <li> Instructeur system police</li>
                                <li> Instructeur system militair</li>
                                <li> Instructeur system civil</li>
                                <li> Officier Supérieur à l'Université Internationale de Karaté et d'Autodéfense en France</li>


                            </p>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title">
                                <i class="fa fa-fire"></i> Profession
                            </h3>
                            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body clearfix">
                            <p>
                                <li> Formateur spécialiste en maîtrise de la violence à la police.</li>
                                <li>
                                    Maître en éducation physique et sport.
                                </li>
                                <li> Instructeur spécialisé combat corps à corps et responsable de la formation des instructeurs combat de la Défense.</li>
                                <li> Formateur Self Défense Pro  (matraque - pistolet...)</li>
                                <li> Formation protection V.I.P</li>
                               


                            </p>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title">
                                <i class="fa fa-shield"></i> Qualifications et spécialisations HDS 

                            </h3>
                            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body clearfix">
                            <p>
                                <li> Combat & Fighting instructor course (CFIC)</li>
                                <li> Combat mindset instructor course (CMIC)</li>
                                <li> VIP protection instructor course (CPP)</li>
                                <li> Women instructor course (WIC)</li>
                                <li>
                                    Kids & teenager instructor course (KIC)
                                </li>
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title">
                                <i class="fa fa-graduation-cap"></i>   HARD WORK
                            </h3>
                            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body clearfix">
                            <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="league">
    <div class="league_m clearfix">
        <div class="container">
            <div class="row">
                <div class="league_1 clearfix">
                    <div class="col-sm-3">
                        <div class="league_1i clearfix">
                            <img src="img/25.jpg" alt="abc" class="iw">
                            <h4 class="bold">League Cup Of Country <span>1995</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="league_1i clearfix">
                            <img src="img/26.jpg" alt="abc" class="iw">
                            <h4 class="bold">Champion League  <span>2002</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="league_1i clearfix">
                            <img src="img/27.jpg" alt="abc" class="iw">
                            <h4 class="bold">National League <span>2008</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="league_1i clearfix">
                            <img src="img/28.jpg" alt="abc" class="iw">
                            <h4 class="bold">Premier League <span>2016</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="counting">
    <div class="container">
        <div class="row">
            <div class="counting_1 clearfix">
                <div class="col-sm-3">
                    <div class="counting_1 text-center clearfix">
                        <span><i class="fa fa-gamepad"></i></span>
                        <h1>244</h1>
                        <h4>League Cup Games</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="counting_1 text-center clearfix">
                        <span><i class="fa fa-fire"></i></span>
                        <h1>116</h1>
                        <h4>League Cup Games</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="counting_1 text-center clearfix">
                        <span><i class="fa fa-shield"></i></span>
                        <h1>24</h1>
                        <h4>League Cup Games</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="counting_1 text-center clearfix">
                        <span><i class="fa fa-globe"></i></span>
                        <h1>2001</h1>
                        <h4>League Cup Games</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="club">
    <div class="container">
        <div class="row">
            <div class="gallery_h text-center clearfix">
                <div class="col-sm-12">
                    <h2 class="mgt">Club Souvenirs</h2>
                    <hr>
                </div>
            </div>
            <div class="achieve_1 clearfix">
                <div class="col-sm-3">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/30.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <h5><a class="button_1" href="#">ADD TO CART <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                    <div class="club_i text-center clearfix">
                        <span class="col_1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <h4>Green Jersey</h4>
                        <h1>$75.00</h1>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/31.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <h5><a class="button_1" href="#">ADD TO CART <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                    <div class="club_i text-center clearfix">
                        <span class="col_1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <h4>Soccer Ball</h4>
                        <h1>$65.00</h1>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/32.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <h5><a class="button_1" href="#">ADD TO CART <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                    <div class="club_i text-center clearfix">
                        <span class="col_1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <h4>Pro Cleats</h4>
                        <h1>$45.00</h1>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="achieve_1m clearfix">
                        <div class="achieve_1mi clearfix">
                            <img src="img/33.jpg" class="iw" alt="abc">
                        </div>
                        <div class="achieve_1mi1 text-center clearfix">
                            <h5><a class="button_1" href="#">ADD TO CART <i class="fa fa-chevron-right"></i></a></h5>
                        </div>
                    </div>
                    <div class="club_i text-center clearfix">
                        <span class="col_1">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <h4>Fan Beanie</h4>
                        <h1>$35.00</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
